.dropzone {
  width: 100%;
  height: 25vh;
  border: 2px dashed #ccc;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.dropzone img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.dropzone-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 50;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  background: #e3f6f5;
}
