.form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
}

.form form {
  height: 90%;
  width: 100%;
  transition: opacity 0.5s;
  flex-direction: column;
  visibility: visible;
  position: absolute;
  display: flex;
  opacity: 1;
}

.form form button {
  margin-top: 20px;
  padding: 15px;
  background-color: #2c698d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form form.disabled {
  opacity: 0;
  visibility: hidden;
}

.formRow {
  height: 15%;
  margin: 10px 0px;
  display: flex;
  gap: 5%;
}

.formRow .formInput {
  height: 90%;
}

.formInput {
  height: 15%;
  width: 100%;
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
}

.formInput input {
  padding: 15px;
}

.formInput span {
  color: #11d0da;
  margin-top: 1%;
  font-size: 1rem;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  display: none;
}

.formInput input:invalid[focused="true"] {
  border: 1px solid red;
}

.formInput input:invalid[focused="true"] + span {
  display: block;
}
