.post {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 1.5%;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 30px;
}

.post .post-header {
  display: flex;
  flex-direction: row;
  font-weight: 700;
  margin: 0.5rem 0;
  justify-content: space-between;
  align-items: center;
}

.post .post-header .post-user {
  display: flex;
  flex-direction: column;
  gap: 1%;
}

.post-body {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  gap: 1%;
}

.post-body img {
  max-height: 40vh;
  border-radius: 10px;
  object-fit: contain;
  width: 100%;
}

.post button {
  cursor: pointer;
  transition: all 0.3s ease-in;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 0.5rem;
}
.post button.like * {
  color: #f5487f;
}

.post button:hover {
  background-color: aliceblue;
}

.post div span {
  margin-right: 0.5rem;
  color: #1da1f2;
}

.post .post-hashtags {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2%;
}
